---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Projects - Kicka's Portfolio">
  <h1>My Projects</h1>
  <p>Here are some of the projects I've worked on. I'm currently in the process of writing them up!</p>
</Layout> 