---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Workflows - Kicka's Portfolio">
  <h1>My Workflows</h1>
  <p>This is where I'll document my development workflows and processes.</p>
</Layout> 